################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/capaConexion/.vs/capaConexion/FileContentIndex/06683651-6259-48f8-a610-291d80b7a55a.vsidx
