################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/capaConexion/.vs/capaConexion/FileContentIndex/06683651-6259-48f8-a610-291d80b7a55a.vsidx
/capaConexion/.vs/capaConexion/FileContentIndex/2de0fd16-5a1d-4ea2-ba35-b733fa9367c1.vsidx
/capaConexion/.vs/capaConexion/FileContentIndex/3131da43-9030-410f-8f32-fbe1e10bcc44.vsidx
/capaConexion/.vs/capaConexion/FileContentIndex/60ef77af-7618-4d27-82d1-0f3e62936c90.vsidx
/capaConexion/.vs/capaConexion/FileContentIndex/e0f08334-de6d-4253-9b96-acd5afb9db56.vsidx
